@font-face {
    font-family: 'DM_Sans';
    src: url('../../../Fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype'),
         url('../../../Fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}
    
@font-face {
    font-family: 'JetBrains_Mono';
    src: url('../../../Fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype'),
         url('../../../Fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
}
    
@font-face {
    font-family: 'Montserrat';
    src: url('../../../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
         url('../../../Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'DM_Sans', 'JetBrains_Mono', 'Montserrat';
}

.menu_bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    background: rgba(51, 51, 51, 0.7);
}

.menu-TP3 {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.nav_page {
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 12px;
    border-radius: 10px;
    width: 140px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav_page:hover {
    background-color: #777;
    transform: scale(1.1);
}

/*FORMULAIRE*/

#center-zone {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    height: 100vh;
}

.zone-globale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 55vh;
    width: 25%;
    margin-top: 200px;
    border-radius: 20px;
}

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.labels {
    margin-top: 15px;
    margin-bottom: 5px;
}

.labels1 {
    margin-bottom: 5px;
}

.inputs {
    width: 90%;
    height: 35px;
    text-decoration: none;
    font-family: 'DM_Sans', 'JetBrains_Mono', 'Montserrat';
    border-style: solid;
    border-color: #151515;
    border-radius: 10px;
    background-color: #ffffff;
    transition: background-color 0.2s ease;
    text-indent: 10px;
    font-size: medium;
    transition: all 0.25s ease-out;
}

.inputs:hover {
    background-color: #ececec;
    box-shadow: 0px 6px 5px #dcdcdc;
    transform: translateY(-2px);
}

#empty-input {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

#height-error {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.text-alert {
    margin-top: 15px;
    margin-bottom: 10px;
    color: red;
}

#envoyer {
    margin-top: 35px;
}

/*DEVIS*/

#zone-devis {
    display: none;
    flex-direction: column;
    background-color: none;
}

.zone-n-devis {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.info {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    width: 100%;
}

.entreprise {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
}

.full-name {
    margin-bottom: 5px;
}

.tel, .mail {
    text-decoration: none;
    margin-bottom: 2px;
    color: black;
}

.address {
    margin: 0;
}

.client {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
}

.attentioned-to {
    margin-bottom: 5px;
}

.full-name-cli {
    margin-top: 0px;
    margin-bottom: 2px;
}

.address-cli {
    margin: 0;
}

.date {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
}

.date-devis {
    margin-bottom: 2px;
}

.validite-devis {
    margin: 0;
}

.resultats {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    margin-top: 30px;
}

.container-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tableau {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.table-head {
    display: flex;
    align-items: center;
    background-color: #a9c4e7;
    width: 100%;
    height: 3vh;
}

.headerTab {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.descriptionTab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 33%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.prixTab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 17%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.quantiteTab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.totalTab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 100%;
    border: 1px solid black;
}

.table-body tr th {
    font-weight: normal;
}


.table-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
    width: 100%;
    height: 100%;
}

.bodyTab {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 3vh;
}

.firstCase2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 33%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.prixTab2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 17%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.quantiteTab2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
}

.totalTab2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 100%;
    border: 1px solid black;
}

.bodyTab2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 3vh;
}

.firstCase3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 33%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    border-top: none;
}

.prixTab3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 17%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    border-top: none;
}

.quantiteTab3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-right: none;
    border-top: none;
}

.totalTab3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-top: none;
}

.reglement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 15vh;
}

.container-regl {
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.container-regl p {
    margin: 0;
    margin-bottom: 6px;
}

.zone-sign {
    margin-top: 100px;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
}

.signature {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.signature::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 90%;
    width: 180px;
    height: 1.8px;
    background-color: black;
    transform: translateY(-50%);
}

.container-devis-btn {
    margin-top: 80px;
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.devis-btn-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 260px;
}

.button-devis {
    padding: 16px 20px;
    display: inline;
    border: none;
    outline: none;
    background-color: #151515;
    font-family: 'DM_Sans', 'JetBrains_Mono', 'Montserrat';
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  
  .button-devis:hover {
    background-color: #474747;
    transform: translateY(-3px);
  }

@media print {

    #to-pdf, #to-form {
        display: none;
    }

    .prixTab {
        width: 20%;
    }

    .quantiteTab {
        width: 22%;
    }

    .prixTab2 {
        width: 20%;
    }

    .quantiteTab2 {
        width: 22%;
    }

    .prixTab3 {
        width: 20%;
    }

    .quantiteTab3 {
        width: 22%;
    }

}

