@font-face {
    font-family: 'DM_Sans';
    src: url('../../../Fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype'),
         url('../../../Fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}
    
@font-face {
    font-family: 'JetBrains_Mono';
    src: url('../../../Fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype'),
         url('../../../Fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
}
    
@font-face {
    font-family: 'Montserrat';
    src: url('../../../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
         url('../../../Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: darkgray;
    font-family: 'DM_Sans', 'JetBrains_Mono', 'Montserrat';
}

/*FORMULAIRE*/

.center-zone {
    /*A CHANGER LORS DE L'AFFICHAGE DU DEVIS*/
    display: none;
    justify-content: center;
}

.zone-globale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 60vh;
    width: 30%;
    margin-top: 150px;
}

.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.labels {
    margin-top: 15px;
}

.inputs {
    width: 90%;
    height: 30px;
}

#empty-input {
    display: none;
    justify-content: center;
    align-items: center;
}

#height-error {
    display: none;
    justify-content: center;
    align-items: center;
}

.text-alert {
    margin-top: 15px;
    margin-bottom: 10px;
    color: red;
}

#envoyer {
    margin-top: 20px;
    width: 150px;
    height: 30px;
}

/*DEVIS*/



