@font-face {
    font-family: 'DM_Sans';
    src: url('../Fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype'),
         url('../Fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains_Mono';
    src: url('../Fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype'),
         url('../Fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
         url('../Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    margin-top: 60px;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    font-family: 'DM_Sans', 'JetBrains_Mono', 'Montserrat';
}

.TP3exercice1 {
    display: flex;
    flex-direction: column;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_exo1tp3 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.TP3exercice2 {
    display: flex;
    flex-direction: column;
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.tp5_title_zone {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 2em;
}

.title_tp5 {
    margin-top: 10px;
}

.container_grille {
    display: block;
    padding-left: 27%;
    padding-right: 27%;
}

.background_grille {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 45px;
}

.grille_images {
    display: grid;
    gap: 20px;
}

.grille_images div {
    display: flex;
    justify-content: space-around;
}

.grille_images button {
    width: 140px;
    height: 140px;
}

.grille_images button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.card img {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.section_exo2tp3 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.TP3exercice2 h1 {
    margin: 0px;
}

.title_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.accueil_title {
    margin: 20px;
    font-size: 4em;
    padding: 10px;
    border-radius: 10px;
}

.menu_bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    background: rgba(51, 51, 51, 0.7);
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.menu-index {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.exo-TP3 {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.menu-TP3 {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.nav_page {
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 12px;
    border-radius: 10px;
    width: 140px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav_page:hover {
    background-color: #777;
    transform: scale(1.1);
}

.tiret {
    list-style-type: '-';
    margin: 0;
}

.image_section {
    display: flex;
    justify-content: center;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    height: 30vh;
}

.image_container img {
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.image_container img:hover {
    transform: scale(1.05);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.description_cours {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    position: relative;
    display: flex;
}

.texte_description {
    width: 110%;
    height: 110%;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    border-radius: 15px;
}

.tabulation_ex2TP3 {
    padding-left: 30px;
}

.no_spaces {
    margin: 0;
}

#positionPKey {
    height: 4px;
    margin: 0;
}


