body {
    margin: 0;
    margin-top: 60px;
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.TP3exercice1 {
    display: flex;
    flex-direction: column;
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.section_exo1tp3 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.TP3exercice2 {
    display: flex;
    flex-direction: column;
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.section_exo2tp3 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.TP3exercice2 h1 {
    margin: 0px;
}

.title_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.accueil_title {
    margin: 20px;
    font-size: 4em;
    padding: 10px;
    border-radius: 10px;
}
/*
.menu_bar {
    height: 7vh;
    width: 100%;
}
*/

.menu_bar {
    position: fixed; /* Le positionne de façon fixe */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; /* Le place en haut de la page */
    left: 0; /* Aligne le header sur la gauche */
    width: 100%; /* Prend toute la largeur de la page */
    background-color: #333; /* Exemple de couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur du header */
    z-index: 1000; /* Assure que le header soit au-dessus d'autres éléments */
    background: rgba(51, 51, 51, 0.7);
}

.menu {
    width: 48%;
    display: flex;
    justify-content: space-around;
}

.menu_TP3 {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.nav_page {
    color: white;
    text-decoration: none;
    background-color: #333;
    padding: 12px;
    border-radius: 10px;
    width: 140px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav_page:hover {
    background-color: #777;
    transform: scale(1.1);
}

.tiret {
    list-style-type: "-";
    margin: 0;
}

.image_section {
    display: flex;
    justify-content: center;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    height: 30vh;
}

.image_container img {
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.image_container img:hover {
    transform: scale(1.05);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.description_cours {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    position: relative;
    display: flex;
}

.texte_description {
    width: 110%;
    height: 110%;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    border-radius: 15px;
}

.tabulation_ex2TP3 {
    padding-left: 30px;
}

.no_spaces {
    margin: 0;
}

#positionPKey {
    height: 4px;
    margin: 0;
}


